name: Create PR from Dev to Master

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ inputs.environment }}
          base: master
          title: "Automated PR: ${{ inputs.environment }} to Master"
          body: |
            This is an automated pull request from `${{ inputs.environment }}` to `master`.
            
            Please review the changes before merging.