name: CI

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      databricks-host:
        required: true
      databricks-token:
        required: true
        
env:
  CI: true

jobs:
  test:
    name: 'Run Unit Tests'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./dabs_prof_cert
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
        run: |
          pytest 
