name: CI

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  test:
    name: 'Run Unit Tests'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./dabs_prof_cert
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Export Databricks Connect environment variables for testing
      - name: Set up Databricks Connect
        run: |
          echo "DATABRICKS_HOST=${{ secrets.DATABRICKS_HOST }}" >> $GITHUB_ENV
          echo "DATABRICKS_TOKEN=${{ secrets.DATABRICKS_TOKEN }}" >> $GITHUB_ENV
  
      - name: Run tests
        run: |
          pytest
